@mixin FlexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin FlexAround($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-around;
    align-items: center;
}

@mixin FlexBetween($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
}

@mixin FlexStart($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: flex-start;
    align-items: center;
}

@mixin FlexEvenly($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-evenly;
    align-items: center;
}